<%
locals.title = 'Image Attributions';
%>

<div class="page-content">
    <div class="container">
        <h1>Image Attributions</h1>
        <p>All camera images are property of their respective manufacturers.</p>
    </div>
</div>
