<%
locals.title = 'Productions';
locals.pageStyles = [];
locals.pageScripts = [];
%>

<div class="page-content">
    <div class="container">
        <h1>Cameras Used in Productions</h1>
        <p>Discover which cameras were used to create your favorite movies and TV shows</p>
        
        <div class="grid grid-3 mt-4">
            <div class="card">
                <h3>Coming Soon</h3>
                <p>We're building a comprehensive database of cameras used in film and television productions.</p>
            </div>
        </div>
    </div>
</div>
